<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Java_Corruptor.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Java_Corruptor.Settings1>
            <setting name="InputJarPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="InstructionSeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueSeed" serializeAs="String">
                <value>0</value>
            </setting>
        </Java_Corruptor.Settings1>
    </userSettings>
</configuration>